{% extends 'base.html' %}
{% load static %}

{% block title %}
    Index
{%endblock%}
{% block content %}


<div class="d-flex h-200 text-center text-white bg-primary vh-100">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto" style="visibility:hidden; !important">
      <div>
        <h3 class="float-md-start mb-0">Cover</h3>
      </div>
    </header>
  
    <main class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead" style="visibility:hidden; !important">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50" style="visibility:hidden; !important">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
  </div>
</div>
<br>
<div class="container" style="width:50vw; height:50vh;">
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for item in object_list %}

    <div class="carousel-item{% if forloop.first %} active{% endif %}">
      <a href="/post/{{ item.id }}">
      {% if item.preview_image %}
        <img src="{{ item.preview_image.url }}" class="d-block w-100" alt="{{ item.title }}">
      {% endif %}
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ item.title }}</h5>
        <p>{{ item.sub_title }}</p>
      </div>
    </div>
  </a>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<script>
  // JavaScript code to enable automatic sliding
  document.addEventListener("DOMContentLoaded", function() {
    const carousel = document.getElementById("carouselExample");
    const carouselInstance = new bootstrap.Carousel(carousel, {
      interval: 3000, // Set the interval time in milliseconds (e.g., 3000 = 3 seconds)
      pause: "hover" // Pause the slider on mouse hover
    });
  });
</script>

{% endblock %}

